.container {
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.43px;
    margin: 0 0 10px;
  }
}
