ion-slides {
  height: 100%;

  ion-slide {
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
      animation: imgAnimate;
      animation-duration: 1000ms;
      animation-fill-mode: forwards;


      @keyframes imgAnimate {
        0% { width: 0px; height: 0px; }
        100% { width: 100px; height: 100px; }
      }
    }

    h1 {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    h2 {
      font-size: 25px;
      font-weight: 700;
      letter-spacing: -0.43px;
      margin: 0;
    }

    p {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

ion-grid {
  height: 100%;
  padding: 10px 20px;

  ion-icon, ion-spinner {
    width: 25px;
    height: 25px;
    color: #732dcf;
  }

  .steps-row {
    border-radius: 17px;
    padding: 10px;
    margin-bottom: 7.5px;
    box-shadow: 0 3px 15px 0 #ededf0;
    background-color: #ffffff;

    ion-col {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ion-label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 85%;

        h1, h2 {
          margin: 0;
        }

        h1 {
          font-size: 17px;
          font-weight: 600;
          text-align: left;
        }

        h2 {
            font-size: 13px;
            font-weight: 500;
            padding: 5px 0 0;
            text-align: left;
            word-wrap: break-word;
        }
      }

      .done {
        color: #10dc60;
      }

      .pending {
        color: #ffce00;
      }
    }
  }

  .done-msg {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      padding: 0px 20px;
      font-size: 12px;
      font-weight: 600;
    };
  }

  .progress-msg {
    p {
      margin: 0;
      padding: 17.5px;
      font-size: 12px;
      font-weight: 600;
    };
  }
}

.dark-process-container {
  .steps-row {
    box-shadow: 0 3px 15px 0 #151626;
    background-color: #2b2c49;
  }
}

ion-footer {
  p {
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  };
}

/* .header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #181d20;
  border-bottom: 2px solid #FAFAFA;
  border-right: 2px solid #FAFAFA;
  border-left: 2px solid #FAFAFA;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  animation: showHeader;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;

  @keyframes showHeader {
    0% { top: -100px }
    100% { top: 0px }
  }

  ion-label {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
  }
}

.container {
  min-height: 100%;
  background: #FAFAFA;
  padding: 15px;
  // padding-top: 10%;
  padding-bottom: 15%;

  h1 {
    margin: 15px 0px;
    font-size: 24px;
    font-weight: 900;
    color: #21313d;
  }

  ion-card {
    background: linear-gradient(to bottom, #181d20 0%,  #21313d 100%);
    padding: 15px;
    border-radius: 30px;
    margin: 5px 0;

    ion-card-subtitle {
      color: white;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 2px;
    }
  }
} */

